.hidden {
  display: none;
}

body{
  background-image:url(https://media.tenor.com/ajDfoSB-_TwAAAAd/spinning-background.gif);
  background-size: cover;
  
  
  
  height: 100vh;
  padding:0;
  margin:auto;


}

.center {
  margin:auto;
  text-align: center;
  
}